<section class="bento">
    <div class="rectangle card" style="grid-area: r1">
        <h1 class="title">FX Helper</h1>
        <svg xmlns="http://www.w3.org/2000/svg" style="color: #f0eee6" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-currency-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" /><path d="M12 3v3m0 12v3" /></svg>
        <p class="eyebrow">Assistant</p>
    </div>
    <div class="square card" style="grid-area: r2">
        <h1 class="title">Daily Planner</h1>
         <svg xmlns="http://www.w3.org/2000/svg" style="color: #f0eee6" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-week"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M7 14h.013" /><path d="M10.01 14h.005" /><path d="M13.01 14h.005" /><path d="M16.015 14h.005" /><path d="M13.015 17h.005" /><path d="M7.01 17h.005" /><path d="M10.01 17h.005" /></svg>
        <p class="eyebrow">Organize your day by adding your to-dos </p>
    </div>
    <div class="square card" style="grid-area: sq1;">
        <h1 class="title">Whac a Mole</h1>
         <svg xmlns="http://www.w3.org/2000/svg" style="color: #f0eee6" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-gavel"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 10l7.383 7.418c.823 .82 .823 2.148 0 2.967a2.11 2.11 0 0 1 -2.976 0l-7.407 -7.385" /><path d="M6 9l4 4" /><path d="M13 10l-4 -4" /><path d="M3 21h7" /><path d="M6.793 15.793l-3.586 -3.586a1 1 0 0 1 0 -1.414l2.293 -2.293l.5 .5l3 -3l-.5 -.5l2.293 -2.293a1 1 0 0 1 1.414 0l3.586 3.586a1 1 0 0 1 0 1.414l-2.293 2.293l-.5 -.5l-3 3l.5 .5l-2.293 2.293a1 1 0 0 1 -1.414 0" /></svg>
        <p class="eyebrow">Whac a Mole game</p>
    </div>
    <div class="rectangle card" style="grid-area: r3;">
        <h1 class="title">Trip Planner</h1>
         <svg xmlns="http://www.w3.org/2000/svg" style="color: #f0eee6" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-map-pins"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.828 9.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829" /><path d="M8 7l0 .01" /><path d="M18.828 17.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829" /><path d="M16 15l0 .01" /></svg>
        <p class="eyebrow">Your tourist guide Agent </p>
    </div>
</section>

<style>
    .bento{
        display: grid;
        gap: .75rem;
        text-align: center;
        grid-template-areas:
            "r1 r1 r2"
            "r1 r1 r2"
            "sq1 r3 r3"
            "sq1 r3 r3";
        grid-auto-rows: minmax(120px, auto);
        max-width: 1100px;
        margin-inline: auto;
        padding: 1rem;
    }
    @media (max-width: 600px) {
        .bento {
            grid-template-areas:
            "r1"
            "r2"
            "sq1"
            "r3";
        }

    }
    .card{
        color: #f0eee6;
        border-radius: 16px;
        padding: 1.5rem;
    }
    .card .eyebrow{
        font-size: 16px;
    }
    .card .title{
        font-size: 36px;
    }
    .rectangle{
        background-color: #1a1a1a;
    }
    .square{
        background-color: #034f46;
    }
</style>