---
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
// Supports weights 300-700
import '@fontsource-variable/space-grotesk';
// Supports weights 100-900
import '@fontsource-variable/inter';
// Supports weights 400-800
import '@fontsource-variable/eb-garamond';
// Supports weights 100-900
import '@fontsource-variable/urbanist';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Santiago Torrico Hinojosa Software Engineer Full Stack Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
		--font-body: 'Space Grotesk Variable', system-ui, sans-serif;
		--font-heading: 'Urbanist Variable', system-ui,sans-serif;
	}
	.dark{
		background-color: #1a1a1a;
	}
	*{
		box-sizing: border-box;
	}
	html,
	body {
		/* cards: #dec4ee;
		dark background: #1a1a1a;
		cards: #034f46; */
		/* background-color: #f0eee6; */
		/* background-color: #212121; */
		background-color:#f0eee6;
		font-family: var(--font-body);
		margin: 0;
	}
	@media (prefers-color-scheme: dark) {
		body {
			background-color: #212121;
		}
	}
	h1, h2, h3{
		font-family: var(--font-heading);
	}
	a{
		text-decoration: none;
	}
</style>
