---
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
// Supports weights 300-700
import '@fontsource-variable/space-grotesk';
// Supports weights 100-900
import '@fontsource-variable/inter';
// Supports weights 400-800
import '@fontsource-variable/eb-garamond';
// Supports weights 100-900
import '@fontsource-variable/urbanist';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Santiago Torrico Hinojosa Software Engineer Full Stack Developer</title>
	</head>
	<body>
		<Header/>
		<slot/>
	</body>
</html>

<style is:global>
	*{
		box-sizing: border-box;
	}
	:root{
		color-scheme: light dark;
		--font-body: 'Space Grotesk Variable', system-ui, sans-serif;
		--font-heading: 'Urbanist Variable', system-ui,sans-serif;
		
		--color-bg-primary: #f0eee6;

		/* TEXT ON LIGHT BACKGROUND */
		--color-text-primary: #1a1a1a;
		--color-text-secondary: #1a1a1abd;
		
		/* SURFACES */
		--surface-dark: #1a1a1a;
		--surface-accent: #034f46;

		/* TEXT ON DARK SURFACES */
		--color-text-inverse: #f0eee6;
	}
	@media (prefers-color-scheme: dark) {
		:root{
			--color-bg-primary:#212121;
			
			/* TEXT ON DARK PAGE */
			--color-text-primary: #f0eee6;
			--color-text-secondary: #f0eee6bd;

			/* SURFACES */
			--surface-dark: #000000;
			--surface-accent: #045d52;

			--color-text-inverse: #f5f5f5;
		}
		body {
			background-color: #212121;
		}
	}
	/* .dark{
		background-color: #1a1a1a;
	} */
	html,
	body {
		/* cards: #dec4ee;
		dark background: #1a1a1a;
		cards: #034f46; */
		/* background-color: #f0eee6; */
		/* background-color: #212121; */
		/* background-color:#f0eee6; */
		background-color: var(--color-bg-primary);
		font-family: var(--font-body);
		margin: 0;
	}
	h1, h2, h3{
		font-family: var(--font-heading);
	}
	a{
		text-decoration: none;
	}
</style>
